@model System.Collections.Generic.List<Entity.Concrate.Contact>
<div class="col-md-9 contact-middle">
    <h2>İletişim Formu</h2>
    @using (Html.BeginForm("SendMessage", "Default", FormMethod.Post))
    {
        <div class="form-agileinfo">
            <p>Adınız Soyadınız</p>
            <input type="text" name="Name" placeholder="Your name" required=""/>
            <p>Mail Adresiniz</p>
            <input type="email" name="Email" placeholder="Your email" required=""/>
        </div>
        <div class="form-agileits-w3layouts">
            <p>Mesaınız</p>
            <textarea  name="Message" placeholder="Your message" required="" ></textarea>
            <button>Gönder</button>
        </div>
        <div class="clearfix"></div>
    }
</div>