@model dynamic

@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <meta charset="UTF-8">
    <title>Admin Giriş</title>

    <!--styles-->
    <link rel="stylesheet" href="wp-admin-html-template-main/assets/styles/main.css">

    <!--scripts-->
    <script src="wp-admin-html-template-main/assets/scripts/jquery-1.12.2.min.js"></script>
    <script src="wp-admin-html-template-main/https://cdn.ckeditor.com/4.5.7/basic/ckeditor.js"></script>
    <script src="wp-admin-html-template-main/assets/scripts/admin.js"></script>

</head>
<body>

<!--login screen-->
<div class="login-screen">
        
    <!--login logo-->
    <div class="login-logo">
        <a href="#">
            <img src="wp-admin-html-template-main/assets/images/logo.png" alt="">
        </a>
    </div>
        
    <form action="">
        <ul>
            <li>
                <label for="username">Kullanıcı Adı</label>
                <input type="text" id="username">
            </li>
            <li>
                <label for="password">Şifre</label>
                <input type="password" id="password">
            </li>
            <li>
                <button type="submit" class="btn btn-primary">Giriş Yap</button>
                <label for="remember" class="checkbox">
                    <input type="checkbox" id="remember"> Beni Hatırla
                </label>
            </li>
        </ul>
    </form>

</div>

</body>
</html>