@model System.Collections.Generic.List<Entity.Concrate.Contact>
<div class="col-md-9 contact-middle">
    <h2>İletişim Formu</h2>
    <form method="post">
        <div class="form-agileinfo">
            <p>Adınız Soyadınız</p>
            <input type="text" name="your name" placeholder="Your name" required=""/>
            <p>Mail Adresiniz</p>
            <input type="email" name="your email" placeholder="Your email" required=""/>
        </div>
        <div class="form-agileits-w3layouts">
            <p>Mesaınız</p>
            <textarea  name="your message" placeholder="Your message" required="" ></textarea>
            <input type="submit" value="Gönder">
        </div>
        <div class="clearfix"></div>
    </form>
</div>